// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-list {
  list-style-type: none;
  display: inline-block;
}

.product-list li {
  float: left;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}
